* {
    margin: 0;
    padding: 0;
}

#productList {
    width: 850px;
    height: 550px;
    margin: 0 auto;
    overflow: scroll;
    padding-top: 10px;
}

#productList::-webkit-scrollbar {
    display: none;
}

div>article {
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

.productListImg {
    display: block;
    width: 200px;
    height: 200px;
}